<div class="contianer">
    <div class="jumbotron">
        <h1>Type Something here</h1>
        <!-- <form > -->
            <label for="supme">Angular</label> <br>
            <input type="text" name="supme" #supme placeholder="type something here" (keyup.enter)="onKeyPress(supme.value)">
        <!-- </form> -->
    </div>

    <div class="row">
        <div class="col-md-4">
            <input type="text" name="work" [(ngModel)]="work">
            <p>{{ work }}</p>
        </div>
    </div>

    <form action="" class="mb-7 ml-4" #f="ngForm">
        <div class="row">
            <div class="col-md-4">
                <input type="text"  ngModel name="mydate" class="form-control customDate" placeholder="Select DOB"  onkeydown="return false" #mydate="ngModel">
                <p>{{ mydate.value }}</p>
            </div>
        </div>
    </form>
</div>